<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/modern-normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body class="font-sans">
    {% include "header.html" %}

    <main class="container">
      {{ content | safe }}
    </main>

    {% include "footer.html" %}
    <script src="/assets/main.js"></script>
  </body>
</html>
