<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body class="bg-gray-50 font-sans">
    {% include "header.html" %}

    <main class="max-w-5xl mx-auto py-32 px-4">
      {{ content | safe }}
    </main>

    {% include "footer.html" %}
    <script src="/assets/main.js"></script>
  </body>
</html>
